.currencyConverter__fieldset{
    flex-basis: 100%;
}

.currencyConverter__fieldset:nth-child(3){
    margin-top:10px;
}

.currencyConverter__legend{
    font-size:28px;
    text-align: center;
}


.currencyConverter__input{
    width:100%;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (orientation:landscape){
    .currencyConverter__fieldset {
        flex-basis: 51%;
    }
}